[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.smart-voice-recorder
Exec=/usr/bin/ru.template.smart-voice-recorder
Name=smart voice recorder
Name[ru]=Шаблон

[X-Application]
Permissions=Sensors;PushNotifications;DeviceInfo;Audio;Internet;MediaIndexing;Microphone;UserDirs;WebView
OrganizationName=ru.template
ApplicationName=smart-voice-recorder
ExecDBus=/usr/bin/ru.template.smart-voice-recorder
